body {background-color: maroon;
    width: auto;
    }
.layer1,.layer2,.layer3,.layer4 {
        float: left;
        width: 25%;
        text-align: center;}
section {box-sizing: content-box;
    width: 100%;
    text-align: center;
    padding: -30px 5px;
    font-size: 400%;
}
.a1 {float: left;
    inset-inline: 50%;
    width: 50%;;
}

aside {width: 50%;
    margin: -30px -5px 150px -5px;
    font-size: 250%;
    float: right;
}
a { color: beige; 
    font-family: Italics;
    font-size: 20px; }
footer {box-sizing: content-box;

    padding: 30px 5px;
}
