
#content {
    display: table;
    border-collapse: collapse;
    margin: 0 auto;
}

.row {
    height: 75px;
    display: table-row;
    border-collapse: collapse;
}
.cell {
    display: table-cell;
    width: 75px;
    border: 1px solid black;
    border-collapse: collapse;
}
.black {
    background-color: black;
}
.white {background-color: white;}